:root {
  --vp-c-brand: #ff006b;
  --vp-c-brand-light: #ff006b;
}

body {
  font-family: "IBMPlexSans";
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces";
}

::selection {
  background-color: #ffc02d;
  color: black;
}

@font-face {
  font-family: "Fraunces";
  src: url("/Fraunces-Variable.ttf");
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/IBMPlexSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/IBMPlexSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/IBMPlexSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/IBMPlexSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
